.productDescription {
    word-break: break-word;
    height: auto;
    /* border: 1px solid #cccccc; */
    border-radius: 5px;
    max-height: auto;
    text-align: justify;
    /* overflow-y: auto; */
}
.productDescription textarea {
    border: 1px solid #d2d2e4;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: auto;
}
.productImgContainer {
    background-color: white;
    align-content: center;
    text-align: center;
}
.productImgContainer img {
    display: block;
    margin: 50px auto 15px auto;
    cursor: pointer;
    border: 1px solid gray;
    

}
.productTitle {
    font-size: 18px;
    color: #4a5158;
}
.productsmallInfoContainer {
    padding: 5px 20px 5px 15px;
    text-align: center;
}
.productsmallInfoContainer>div {
    text-align: left;
}
.productsmallInfoContainer input{
    display: inline;
    width: auto;
}
.productDetailContainer{
    border:1px solid gray;
}

.dropDownContainer>div{
    margin-bottom: 12px;
    /* border: 1px solid violet; */
}
.dropDownContainer>div>label , .productsmallInfoContainer>div>label{ 
    color: rgb(80, 78, 78);
}
.advancedContainer {
    /* border: 1px solid greenyellow; */
    text-align: left;
    padding: 10px;
}
/* .advancedContainer */
