
.subContainer {
border-radius: 3px;
padding: 0px;
border: 1px solid #4fb9ae;
border: 1px solid #4fb9ae;
margin-right: 7px;
}

.subContainer input {
padding: 2px;
width:100px;
}
.subContainer h5 {
    background-color: #4fb9ae;
    
    margin-bottom: 5px;
    padding: 3px;
    width: 100%;
}
.subContainer label {
padding-left: 10px;
}
