.addressContainer {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 30px 50px 10px 80px;
    background-color: #ebebeb;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 300px;
    color: rgb(65, 64, 64);
    font-size: 15px;
}
.mainContainer {
    /* border: 1px solid red; */
    border-radius: 5px ;
    padding-top: 6px;
    margin-top: 6px;
    background-color: #f8f0f0
}
.addBtn {
    background-color: blue;
    cursor: pointer;
}