.userHeaderContainer {
    background-color: #1a1a1a !important;
    height: 55px;
    color: white;
    padding: 15px 70px 10px 100px;
}
.userHeaderContainer a {
    cursor: pointer;
}
.userHeaderContainer .nav-link {
 border: 1px solid chartreuse;
}
.UserNavBrand {
    color: white;
    padding-right: 50px;
}

.headerIconContainer {
    width: 100%;
    text-align: right;
    
}
.headerIconContainer i {

    margin: 0px 1px 0px 1px;
    padding: 8px;
}
.headerIconContainer i:hover {
    cursor: pointer;
    color: gray;
   
}
.headerIconContainer input {
    border-radius: 5px;
    border: 1px solid wheat;
    height: 100%;
    padding: 5px;
    margin-right: 10px;
    color: gray;
}
.headerIconContainer input:focus{
    outline: none;
}
@media only screen and (max-width: 991px) {
    .userHeaderContainer {
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
    }
    .UserNavBrand {
        padding-left: 0px;
        border: 1px solid green;
        padding-right: 10px;
    }
    .headerIconContainer {
        border-top: 1px solid wheat;
        padding-top: 10px;
        margin-top: 10px;
        text-align: center;
        align-content: center;
        
    }
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
