.btnContainer {
    padding: 22px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid lightgray;
    text-align: center;
    align-content: center;
}
.btnContainer>button:first-child {
    margin-right: 2.5rem;
}
.btnContainer>button:nth-child(2) {
    margin-right: 2.5rem;
    color: white;
}