.filterContainer div {
    font-size: 13px;
    color: black;
    /* padding-bottom: 10px; */
}
.simpleFilter label {
    /* background-color: blueviolet; */
    color: black;
    font-size: inherit;
}
/* .filterContainer div div { color: red;} */