.inlineInput {
    display: inline !important;
}
 .avatar{
    margin-bottom: 15px;
}
.avatarContainer{
    padding: 0px;
}
.avatarContainer div {padding-top: 20px;}
.avatar:hover {
    cursor: pointer;
}
.userDetailContainer label, .userDetailContainer i{
    
    text-align: left;
    color: rgb(88, 87, 87);
}
.formS {
    padding-top: 10px;
    text-align: left;
}
.numberContainer {
    /* border: 2px solid teal; */
    padding-left: 17px;
}
.pendingUser {
    background-color: rgb(224, 193, 14);
}
.activeUser {
    background-color: rgb(44, 189, 15);
}
.deactiveUser {
    background-color: rgb(243, 47, 47);
}