.subproductContainer {
    padding-left: 100px;
    
}
.subproductContainer>div>div {
    border: 3px solid rgb(155, 188, 199);
} 
.header {
    /* border: solid lightgray; */
    border-radius: 6px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 25px;
    background-color: white;
}
